<% content_for :title, "Editing setor" %>

<h1>Editing setor</h1>

<%= render "form", setor: @setor %>

<br>

<div>
  <%= link_to "Show this setor", @setor %> |
  <%= link_to "Back to setores", setores_path %>
</div>
