<p style="color: green"><%= notice %></p>

<% content_for :title, "Setores" %>

<h1>Setores</h1>

<div id="setores">
  <% @setores.each do |setor| %>
    <%= render setor %>
    <p>
      <%= link_to "Show this setor", setor %>
    </p>
  <% end %>
</div>

<%= link_to "New setor", new_setor_path %>
